<div class="row">
  <nb-card style="width:100%; height: 900px;">
    <nb-card-body style="overflow-x: hidden;">
      <ngx-restaurant-users></ngx-restaurant-users>
      <!--<nb-tabset fullWidth>
        <nb-tab tabTitle="Restaurants">
          <ngx-restaurant-users></ngx-restaurant-users>
        </nb-tab>
        <nb-tab tabTitle="Cateogories">
          <ngx-categories></ngx-categories>
        </nb-tab>
        <nb-tab tabTitle="License/Subscription" >
          <ngx-license></ngx-license>
        </nb-tab>
      </nb-tabset>-->

    </nb-card-body>
  </nb-card>
</div>